.sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 15%;
	height: $total-height;
	background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #555454, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #555454, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	// background-color: $color-darkgray;
	// border-right: 2px solid rgb(24, 24, 24);

	form {
		display: flex;
		padding: 10px;
		border-radius: 10px;

		input {
			width: 100%;
			padding: 10px;
			border-radius: 10px;
			&:hover{
				background-color: #404040;
				color: #fff;
				cursor: pointer;
			}
		}

	}

	img {
		width: 80%;
		height: auto;
		border-radius: 20px;
		margin: 26px;
	}

	.links {
		list-style: none;

		.link {
			.selected {
				background-color: #1d1d1d;
			}

			a {
				display: flex;
				overflow: hidden;
				justify-content: space-evenly;
				align-items: center;
				color: $color-white;
				text-decoration: none;
				height: 80px;
				border-bottom: 2px solid #404040;
				border-radius: 2px;
				margin-top: 0;
				padding: 0;
				&:hover {
					background-color: #1d1d1d;
				}
			}

			a:nth-child(1) {
				border-top: none;
			}

			p {
				font-family: $font-family-headline;
				text-decoration: none;
				font-size: 1.3rem;
				font-style: italic;
			}

			img {
				display: block;
				width: 60px;
				color: $color-darkgray;
				filter: invert(100%);
			}
		}
	}
}

@media only screen and (max-width: 1200px) {

	.sidebar .links .link a p {
		font-size: 16px;
	}
	.sidebar .links .link img {
		width: 40px;
	}
}

@media only screen and (max-width: 720px) {

	.sidebar .links .link a p {
		font-size: 16px;
	}
	.sidebar .links .link img {
		width: 40px;
	}
}
@media only screen and (max-width: 720px) {
	.sidebar {
		width: 100%;
		height: auto;
		
		img {
			width: 40%;
			float: left;
		}
	}
	.sidebar .links .link a p {
		font-size: 16px;
	}
	.sidebar .links .link img {
		width: 40px;
	}
}


	// .sidebar .links .link a p {
	// 	font-size: 16px;
	// }
	// .sidebar .links .link img {
	// 	width: 40px;
	// }
