.teamDetails {

    .teamCard {
        background-color: $color-darkgray;
        position: fixed;
        height: $total-height;
        width: 20%;
        padding: 30px;
    
        div {
    
            .teamHeading {
                margin-bottom: 30px;
                width: auto;
    
                .teamPhoto {
                    width: 200px;
                    height: 200px;
                    margin-bottom: 15px;
                    background: url('http://localhost:8080//img/F1-Logo-history.jpg');
					background-repeat: no-repeat;
					background-position: center;
    
                    img {
                        object-fit: cover;
                        max-width: 100%;
                        height: auto;
                        border-radius: 15px;
                    }
                }
    
                .teamNameContent {
                    display: block;
                    margin-left: 10px;
    
                    .teamName {
                        color: $color-white;
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
            }
    
            .teamCardTable {
                color: $color-white;
                font-weight: 700;
                text-align: left;
    
                i {
                    text-decoration: none;
                    color: $color-white;
                    font-size: 20px;
                }
    
                th, td {
                    padding: 5px;
                    padding-right: 15px;
                }
            }
        }   
    }

    .teamDetailsTable {
        @include tableParentDiv;
        float: right;
        width: 80%;
        display: flex;
        justify-content: center;

        table {
            @include table;
            width: 90%;
            margin-top: 20px;

            thead {
                @include tableThead;

                tr:nth-child(2) th {
                        color: $color-black;
                        border: none;
                        background-color: #bab9b4;
                }

                th {
                    @include tableTh;
                }
            }

            tbody {

                tr {

                    td {
                        @include tableTd;

                        a {
                            @include anchor;
                        }
                    }

                    .colorBlack {
                        color: $color-black;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px){
    .teamDetails {
        .teamCard {
            width: 24%;
        }
        .teamDetailsTable {
            width: 76%;
        }
    }
}

@media only screen and (max-width: 720px) {
	.teamDetails {
		
		.teamCard {
			width: 50%;
			height: auto;
			padding: 16px;
            border-radius: 12px;
			background: #000000;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #555454, #000000);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #555454, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
			div{
				.teamHeading{
					display:flex;
					.teamNameContent{
						margin-left: 10px;
						.teamName {
							font-size: 24px;
							
						}
					}
				}
				
			}
			
		}
		.teamDetailsTable {
			width: 100%;
			margin-top: 370px;
			
			
		}	
	}
	
	
	
}


