$font-family-headline: 'Audiowide', cursive;
$font-family-text: 'Open Sans', sans-serif;
$total-height: 100vh;

$color-darkgray: #333;
$color-white: #fff;
$color-black: #000;

$font-color-gray: #717171;