@import "reset";
@import "variables";
@import "sidebar";
@import "welcome-content";
@import "table-mixins";
@import "drivers-table";
@import "teams-table";
@import "races-table";
@import "flags-table";
@import "spinner";
@import "driversSubComp";
@import "teamsSubComp";
@import "racesSubComp";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	body {
		margin: inherit;
		padding: inherit;
		font-family: $font-family-text;
		min-height: $total-height;

		.main {
			height: 100%;

			.content {
				float: right;
				width: 85%;
			}
		}
	}
}


