@import "reset";
@import "variables";
@import "sidebar";
@import "welcome-content";
@import "table-mixins";
@import "drivers-table";
@import "teams-table";
@import "races-table";
@import "flags-table";
@import "spinner";
@import "driversSubComp";
@import "teamsSubComp";
@import "racesSubComp";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	body {
		margin: inherit;
		padding: inherit;
		font-family: $font-family-text;
		min-height: $total-height;

		.main {
			height: 100%;

			.content {
				float: right;
				width: 85%;
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	
		body {
			margin: inherit;
			padding: inherit;
			font-family: $font-family-text;
			min-height: $total-height;
	
			.main {
				height: 100%;
	
				.content {
					background: #000000;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to bottom, #555454, #000000);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to top, #555454, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
					width: 100%;
				}
			}
		}
	}
}


